<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CrewMember</key>
	<array>
		<dict>
			<key>Grade</key>
			<string>LCL</string>
			<key>Name</key>
			<string>PAILLARD</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>LCL</string>
			<key>Name</key>
			<string>BRUN</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>LCL</string>
			<key>Name</key>
			<string>PIUBENI</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>LCL</string>
			<key>Name</key>
			<string>CREUSET</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>LCL</string>
			<key>Name</key>
			<string>LUNEAU</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CDT</string>
			<key>Name</key>
			<string>BELLAIS</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CDT </string>
			<key>Name</key>
			<string>SCHAFFHAUSER</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CDT</string>
			<key>Name</key>
			<string>GARRAULT</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CDT</string>
			<key>Name</key>
			<string>KUDELA</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CDT</string>
			<key>Name</key>
			<string>GARIOUD</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CDT</string>
			<key>Name</key>
			<string>GOLUSINSKI</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CDT</string>
			<key>Name</key>
			<string>COUPEZ</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CDT</string>
			<key>Name</key>
			<string>NGUYEN</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CDT</string>
			<key>Name</key>
			<string>BRUNET</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CDT</string>
			<key>Name</key>
			<string>BOYER</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CDT</string>
			<key>Name</key>
			<string>TABBAKH</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>PELOPIDAS</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>PINEAU</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>SEGARD</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>DUVAL</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>GANNIER</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>PERROT</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>THOUAILLE</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>LEROUGE</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>BARBE</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>PHILIPPE</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>FEUILLET</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>EVRARD</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>THOREMBEY</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>JOUET</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>DEHAUDT</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>CHAMBELANT</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>ROLLET</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>HENNEGUEZ</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CNE</string>
			<key>Name</key>
			<string>AILLAUD</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>LTT</string>
			<key>Name</key>
			<string>BOUCHAREISSAS</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>LTT</string>
			<key>Name</key>
			<string>ALGERI</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>LTT</string>
			<key>Name</key>
			<string>DHALLEINE</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>MAJ</string>
			<key>Name</key>
			<string>GIRARD</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>ADC</string>
			<key>Name</key>
			<string>COLLIN</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>ADC</string>
			<key>Name</key>
			<string>BOUZON</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>ADJ</string>
			<key>Name</key>
			<string>GREGOIRE</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>ADJ</string>
			<key>Name</key>
			<string>GONTIER</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>ADJ</string>
			<key>Name</key>
			<string>ENCINAS</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>SGC</string>
			<key>Name</key>
			<string>MISSEY</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>SGC</string>
			<key>Name</key>
			<string>PINOT</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>SGC</string>
			<key>Name</key>
			<string>ANIORT</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>SGC</string>
			<key>Name</key>
			<string>DE CHAVIGNY</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>SGC</string>
			<key>Name</key>
			<string>BURDIN</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>SGT</string>
			<key>Name</key>
			<string>LAURENT</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CLC</string>
			<key>Name</key>
			<string>PALLARES</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CLC</string>
			<key>Name</key>
			<string>DESVIGNES</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CLC</string>
			<key>Name</key>
			<string>BOULANT</string>
		</dict>
		<dict>
			<key>Grade</key>
			<string>CLC</string>
			<key>Name</key>
			<string>VASSEUR</string>
		</dict>
	</array>
</dict>
</plist>
