<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aircraft</key>
	<string></string>
	<key>Unit</key>
	<string></string>
	<key>RefEnt</key>
	<string> </string>
	<key>FuelDelivering</key>
	<false/>
	<key>InstanceArray</key>
	<array>
		<dict>
			<key>be</key>
			<string></string>
			<key>arrival</key>
			<string></string>
			<key>departure</key>
			<string></string>
			<key>drop</key>
			<string></string>
			<key>legDep</key>
			<string></string>
			<key>legArr</key>
			<string></string>
			<key>type</key>
			<string></string>
			<key>weight</key>
			<string></string>
		</dict>
	</array>
	<key>ActPN</key>
	<string> </string>
	<key>XLS</key>
	<string> </string>
	<key>RegistreAC</key>
	<string> </string>
	<key>ATT</key>
	<string> </string>
	<key>Derog</key>
	<array>
		<dict>
			<key>Commentaires</key>
			<string></string>
			<key>Nature</key>
			<string></string>
			<key>Numero</key>
			<string></string>
			<key>Ordonnateur</key>
			<string></string>
		</dict>
	</array>
	<key>FTA</key>
	<array>
		<dict>
			<key>Arrivee</key>
			<string></string>
			<key>AutresServices</key>
			<string></string>
			<key>CDB</key>
			<string></string>
			<key>Chargement</key>
			<string></string>
			<key>Decallage</key>
			<string>0:00</string>
			<key>Degivrage</key>
			<string></string>
			<key>Depart</key>
			<string></string>
			<key>DossierVol</key>
			<string></string>
			<key>DureeGPU</key>
			<string></string>
			<key>Escalier</key>
			<string></string>
			<key>GPU</key>
			<string></string>
			<key>Meteo</key>
			<string></string>
			<key>Nettoyage</key>
			<string></string>
			<key>NombreEscalier</key>
			<string></string>
			<key>Paiement</key>
			<string></string>
			<key>Parking</key>
			<string></string>
			<key>PlanDeVol</key>
			<string></string>
			<key>Plein</key>
			<string></string>
			<key>Reactu</key>
			<string></string>
			<key>Remarques</key>
			<string></string>
			<key>Repoussage</key>
			<string></string>
			<key>Representant</key>
			<string></string>
			<key>RetardAccueil</key>
			<string></string>
			<key>RetardAutre</key>
			<string></string>
			<key>RetardCatering</key>
			<string></string>
			<key>RetardChef</key>
			<string></string>
			<key>RetardLoaders</key>
			<string></string>
			<key>RetardRamassage</key>
			<string></string>
			<key>Touchee</key>
			<string></string>
			<key>Tractage</key>
			<string></string>
			<key>Transit</key>
			<string></string>
			<key>Transport</key>
			<string></string>
			<key>TransportHP</key>
			<string></string>
			<key>TransportSP</key>
			<string></string>
			<key>VIP</key>
			<string></string>
			<key>Vidange</key>
			<string></string>
		</dict>
	</array>
	<key>FuelBurnedTotal</key>
	<string>0</string>
	<key>MES</key>
	<dict>
		<key>Destinataires</key>
		<string></string>
		<key>Message</key>
		<string></string>
		<key>CDB</key>
		<string></string>
		<key>Transmis</key>
		<string></string>
	</dict>
	<key>GroundInit</key>
	<string>0</string>
	<key>LandingsTotal</key>
	<string>1</string>
	<key>Leg</key>
	<array>
		<dict>
			<key>ArrivalAirport</key>
			<string>LFOJ</string>
			<key>CTSControllers</key>
			<array/>
			<key>Indicators</key>
			<dict>
				<key>InProgress</key>
				<string>0</string>
				<key>Finished</key>
				<string>0</string>
				<key>Departure</key>
				<array>
					<string>0</string>
					<string>0</string>
				</array>
				<key>Arrival</key>
				<array>
					<string>0</string>
					<string>0</string>
				</array>
				<key>Crew</key>
				<array>
					<string>0</string>
					<string>0</string>
				</array>
				<key>PaxAndFreight</key>
				<array>
					<string>0</string>
					<string>0</string>
				</array>
				<key>CrewTickSheet</key>
				<array>
					<string>0</string>
					<string>0</string>
				</array>
				<key>OMA</key>
				<array>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>FlightRules</key>
			<string>I</string>
			<key>TypeOfFlight</key>
			<string>M</string>
			<key>BadVisibilityLandings</key>
			<string>0</string>
			<key>TouchAndGo</key>
			<string>0</string>
			<key>cargoList</key>
			<array/>
			<key>Payload</key>
			<string>0</string>
			<key>GoAround</key>
			<string>0</string>
			<key>Be</key>
			<string></string>
			<key>BetweenBlocksTime</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>CallSign</key>
			<string></string>
			<key>Comments</key>
			<string></string>
			<key>CrewMember</key>
			<array>
				<dict>
					<key>Controle</key>
					<string></string>
					<key>EntArray</key>
					<array/>
					<key>Entrainement</key>
					<dict/>
					<key>Function</key>
					<string></string>
					<key>Name</key>
					<string></string>
					<key>Other</key>
					<string></string>
					<key>Position</key>
					<string></string>
				</dict>
			</array>
			<key>Day10</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>Day22</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>Day35</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>Day62</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>LowLevelFlight</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>DepartureAirport</key>
			<string>LFOJ</string>
			<key>ETA</key>
			<date>1970-01-01T00:00:00Z</date>
			<key>ETD</key>
			<date>1970-01-01T00:00:00Z</date>
			<key>FinalFuel</key>
			<string>0</string>
			<key>FlightTime</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>FuelBurned</key>
			<string>0</string>
			<key>FuelReceived</key>
			<string>0</string>
			<key>FuelDelivered</key>
			<string>0</string>
			<key>FuelAtTakeOff</key>
			<string>0</string>
			<key>FuelAdded</key>
			<string>0</string>
			<key>GroundInit</key>
			<string>0</string>
			<key>LandingTime</key>
			<date>1970-01-01T00:00:00Z</date>
			<key>Landings</key>
			<string>1</string>
			<key>N°BM19</key>
			<string></string>
			<key>MES</key>
			<array>
				<dict>
					<key>CDB</key>
					<string></string>
					<key>Destinataire</key>
					<string></string>
					<key>Message</key>
					<string></string>
					<key>Transmis</key>
					<string></string>
				</dict>
			</array>
			<key>Message</key>
			<array>
				<dict>
					<key>NouvelleLatitude</key>
					<string></string>
					<key>NouvelleLongitude</key>
					<string></string>
					<key>AccuseReception</key>
					<string>NON QSL</string>
					<key>ArriveeEstimee</key>
					<date>2001-01-01T00:00:00Z</date>
					<key>Destinataires</key>
					<string>Destinataire Standard EATC</string>
					<key>Frequence</key>
					<string></string>
					<key>Heure</key>
					<date>2001-01-01T00:00:00Z</date>
					<key>HeureEstimeeAtterrissage</key>
					<date>2001-01-01T00:00:00Z</date>
					<key>IndicatifE</key>
					<string></string>
					<key>IndicatifR</key>
					<string></string>
					<key>Infos</key>
					<string></string>
					<key>Latitude</key>
					<string></string>
					<key>Longitude</key>
					<string></string>
					<key>Palettes</key>
					<string>0</string>
					<key>Roulant</key>
					<string>0</string>
					<key>Vrac</key>
					<string>0</string>
					<key>PrioriteTransmission</key>
					<string>TUR</string>
					<key>ProchainContact</key>
					<date>2001-01-01T00:00:00Z</date>
					<key>TypeMessage</key>
					<string>DEPART</string>
					<key>ChargementStandard</key>
					<string>OUI</string>
					<key>ChargePalettes</key>
					<string>0</string>
				</dict>
			</array>
			<key>Na</key>
			<string></string>
			<key>Night10</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>Night22</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>Night35</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>Night62</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>NightTime</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>OffBlocksTime</key>
			<date>1970-01-01T00:00:00Z</date>
			<key>OnBlocksTime</key>
			<date>1970-01-01T00:00:00Z</date>
			<key>PaxCargo</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Total</string>
					<key>CargoIn</key>
					<string>0</string>
					<key>CargoOnBoard</key>
					<string>0</string>
					<key>CargoDropped</key>
					<string>0</string>
					<key>CargoOut</key>
					<string>0</string>
					<key>PaxIn</key>
					<string>0</string>
					<key>PaxOnBoard</key>
					<string>0</string>
					<key>PaxDropped</key>
					<string>0</string>
					<key>PaxOut</key>
					<string>0</string>
				</dict>
			</array>
			<key>TakeOffTime</key>
			<date>1970-01-01T00:00:00Z</date>
			<key>CrewTickSheets</key>
			<array>
				<array>
					<string></string>
					<array>
						<array>
							<string>0</string>
							<date>2001-01-01T00:00:00Z</date>
						</array>
						<string>1</string>
						<string>0</string>
						<string>0</string>
						<string>0</string>
						<array>
							<string>0</string>
							<date>2001-01-01T00:00:00Z</date>
						</array>
						<string>0</string>
						<string>0</string>
						<string>0</string>
						<date>2001-01-01T00:00:00Z</date>
					</array>
					<array>
						<array>
							<string>0</string>
							<date>2001-01-01T00:00:00Z</date>
						</array>
						<string>1</string>
						<string>0</string>
						<string>0</string>
						<string>0</string>
						<array>
							<string>0</string>
							<date>2001-01-01T00:00:00Z</date>
						</array>
						<string>0</string>
						<string>0</string>
						<string>0</string>
						<date>2001-01-01T00:00:00Z</date>
					</array>
					<array>
						<array>
							<string>0</string>
							<date>2001-01-01T00:00:00Z</date>
						</array>
						<string>1</string>
						<string>0</string>
						<string>0</string>
						<string>0</string>
						<array>
							<string>0</string>
							<date>2001-01-01T00:00:00Z</date>
						</array>
						<string>0</string>
						<string>0</string>
						<string>0</string>
						<date>2001-01-01T00:00:00Z</date>
					</array>
					<array>
						<array>
							<string>0</string>
							<date>2001-01-01T00:00:00Z</date>
						</array>
						<string>1</string>
						<string>0</string>
						<string>0</string>
						<string>0</string>
						<array>
							<string>0</string>
							<date>2001-01-01T00:00:00Z</date>
						</array>
						<string>0</string>
						<string>0</string>
						<string>0</string>
						<date>2001-01-01T00:00:00Z</date>
					</array>
					<string>0</string>
				</array>
			</array>
			<key>activeCTS</key>
			<string>0</string>
		</dict>
	</array>
	<key>MissionNumber</key>
	<string></string>
	<key>SECOPS</key>
	<dict/>
	<key>SICOPS</key>
	<string> </string>
	<key>N°BM19</key>
	<string></string>
	<key>MEAT</key>
	<string> </string>
	<key>TotalBetweenBlocksTime</key>
	<date>2001-01-01T00:00:00Z</date>
	<key>TotalFlightTime</key>
	<date>2001-01-01T00:00:00Z</date>
</dict>
</plist>
