<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>variants</key>
	<dict>
		<key>Apps/Esterel OPS-iPad (4th generation)-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13425175</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13425175</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15032079</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15032079</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPad3,2</string>
				<string>iPad3,3</string>
				<string>iPad3,1</string>
				<string>iPad3,6</string>
				<string>iPad3,4</string>
				<string>iPad3,5</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPad (3rd generation)</string>
				<string>iPad (3rd generation)</string>
				<string>iPad (3rd generation)</string>
				<string>iPad (4th generation)</string>
				<string>iPad (4th generation)</string>
				<string>iPad (4th generation)</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPad 2-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13425174</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13425174</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15032110</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15032110</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPad2,3</string>
				<string>iPad2,2</string>
				<string>iPad2,1</string>
				<string>iPad2,4</string>
				<string>iPad2,7</string>
				<string>iPad2,6</string>
				<string>iPad2,5</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPad 2</string>
				<string>iPad 2</string>
				<string>iPad 2</string>
				<string>iPad 2</string>
				<string>iPad mini</string>
				<string>iPad mini</string>
				<string>iPad mini</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPad Pro.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13416156</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13416156</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15113938</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15113938</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPad6,7</string>
				<string>iPad6,8</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPad Pro</string>
				<string>iPad Pro</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPad mini 3-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13416159</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13416159</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15114026</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15114026</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPad4,3</string>
				<string>iPad4,2</string>
				<string>iPad4,1</string>
				<string>iPad4,6</string>
				<string>iPad4,5</string>
				<string>iPad4,4</string>
				<string>iPad4,9</string>
				<string>iPad4,8</string>
				<string>iPad4,7</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPad Air</string>
				<string>iPad Air</string>
				<string>iPad Air</string>
				<string>iPad mini 2</string>
				<string>iPad mini 2</string>
				<string>iPad mini 2</string>
				<string>iPad mini 3</string>
				<string>iPad mini 3</string>
				<string>iPad mini 3</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPad mini 4-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13416144</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13416144</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15113903</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15113903</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPad5,3</string>
				<string>iPad5,4</string>
				<string>iPad5,1</string>
				<string>iPad5,2</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPad Air 2</string>
				<string>iPad Air 2</string>
				<string>iPad mini 4</string>
				<string>iPad mini 4</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPhone 4S.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13425160</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13425160</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15031928</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15031928</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone4,1</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 4S</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPhone 5-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13425195</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13425195</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15032165</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15032165</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone5,2</string>
				<string>iPhone5,1</string>
				<string>iPhone5,3</string>
				<string>iPhone5,4</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 5</string>
				<string>iPhone 5</string>
				<string>iPhone 5c</string>
				<string>iPhone 5c</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPhone 5s.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13416147</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13416147</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15113953</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15113953</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone6,1</string>
				<string>iPhone6,2</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 5s</string>
				<string>iPhone 5s</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPhone 6 Plus.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13416149</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13416149</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15113952</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15113952</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone7,1</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 6 Plus</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPhone 6.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13416151</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13416151</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15113952</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15113952</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone7,2</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 6</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPhone 6s Plus.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13416158</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13416158</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15113984</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15113984</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone8,2</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 6s Plus</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPhone 6s.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13416162</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13416162</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15113984</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15113984</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone8,1</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 6s</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPod touch (6th generation).ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13416145</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13416145</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15113876</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15113876</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPod7,1</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPod touch (6th generation)</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS-iPod touch.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13425163</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13425163</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15031990</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15031990</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPod5,1</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPod touch</string>
			</array>
		</dict>
		<key>Apps/Esterel OPS.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>13607788</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>13607788</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>15588224</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>15588224</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
